.quote-medium {
    height: 250px;
    max-height: 250px;
    font-family: lobster-two, arial;
}

.btn-cadet {
    color: cadetblue;
}

h3 {
    font-family: lobster, impact;
}

h4 {
    color: cadetblue;
    font-family: lobster, impact;
}